* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container img{
    width: 200px;
    
}
.card-text{
    color: chocolate;
}


body {
    
    margin: 0px;
    width: 50%;
    height: 55%;
    
}

h1 {
    font-family: monospace;
    text-align:right;
    margin: 30px;
    color: chocolate;
}
